@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#masonry-gallery {
  column-count: 3;
  column-gap: 1em;
  padding: 1em;
}

@media (max-width: 900px) {
  #masonry-gallery {
    column-count: 2 !important;
  }
}

@media (max-width: 780px) {
  #masonry-gallery {
    column-count: 1 !important;
  }
}

.gallery-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
  break-inside: avoid;
  text-align: left;
  cursor: pointer;
  background-color: #000;
}
.gallery-item img {
  width: 100%;
}
.gallery-meta {
  font-size: 0.9em;
  margin: 1em;
  color: #fff;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}
.title-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.gallery-meta .title {
  font-family: Raleway;
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.2em;
}
.gallery-meta .subtitle {
  font-family: Raleway;
  font-weight: 300;
  font-style: normal;
  font-size: 24;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.2em;
}

.gallery-item:hover .cta {
  color: #d4554eaa;
  border-bottom-color: rgba(212, 85, 78, 0.15);
  transition: border-color 0.15s ease-out, color 0.15s ease-out;
}

.gallery-item .cta {
  color: #d4554e;
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.8em;
  text-transform: none;
  padding-bottom: 0.05em;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(212, 85, 78, 0.3);
  transition: border-color 0.15s ease-out, color 0.15s ease-out;
  display: inline;
}
